header {
    background-image: linear-gradient(to right,rgb(60, 60, 169), rgb(26, 26, 109));
    color: white;
    text-align: center;
    padding: 1%;
}

#search-bar {
    display: inline;
}

#search-btn {
    background-color: rgb(44, 145, 227);
    color: white;
    border-color: transparent;
}

#search-btn:hover {
    background-color: rgb(99, 99, 179);
}



